{% extends 'main/mainpage.html' %}
{% load static %}
{% block content %}
<div>

    <div class="home_text"> <img class="home_img"
         src="{% static 'main/img/ssss.jpg' %}" alt="">
        <div>
            <div>
                <h1>Кто такой Python-разработчик и чем он занимается</h1>
                Высокоуровневый язык общего назначения Python,
                придуманный Гвидо ван Россумом больше 30&nbsp;лет назад, сегодня возглавляет <a
                        href="https://www.tiobe.com/tiobe-index/" target="_blank" class="stk-reset">индекс
                    популярности TIOBE</a>. Он&nbsp;собрал вокруг себя огромное сообщество фанатов и&nbsp;продолжает
                развиваться по&nbsp;сей день. Профессия Python-разработчика остаётся стабильно престижной&nbsp;—
                даже новички довольно быстро могут устроиться на&nbsp;работу с&nbsp;высокой зарплатой.</p>
                <p class="stk-reset" data-ce-tag="paragraph">Это неудивительно, если учесть, что у&nbsp;Python
                    сильная неявная динамическая типизация. С&nbsp;одной стороны, интерпретатор сам решает,
                    к&nbsp;какому типу отнести данные, и&nbsp;делает это уже во&nbsp;время выполнения
                    программы. А&nbsp;с&nbsp;другой&nbsp;— он не&nbsp;даёт смешивать данные разных типов, и&nbsp;благодаря
                    этому программы ведут себя более предсказуемо.</p>
                <p class="stk-reset" data-ce-tag="paragraph">В&nbsp;результате Python работает, возможно,
                    чуть медленнее компилируемых языков, но&nbsp;зато код на&nbsp;нём пишется быстро,
                    читается легко, а&nbsp;его инструменты можно использовать гибко. А&nbsp;главное&nbsp;—
                    освоить его просто.</p></div>
        </div>
        <div>
            <h2><strong>Чем занимается Python-разработчик</strong></h2>
            <p>Согласно <a
                    href="https://skillbox.ru/media/code/komanda-python-i-jetbrains-proveli-ezhegodnyy-opros-pitonistov/"
                    target="_blank">ежегодному
                исследованию</a> команды Python и&nbsp;JetBrains, питонисты востребованы в&nbsp;сфере
                анализа данных, веб-разработки и&nbsp;DevOps.</p>
            <p>Но&nbsp;это ещё не&nbsp;всё: Python&nbsp;—
                универсальный язык, на&nbsp;котором можно написать что угодно. Например, Intel, IBM и&nbsp;HP&nbsp;используют
                его для тестирования аппаратного обеспечения, Industrial Light &amp; Magic и&nbsp;Pixar&nbsp;—
                для создания анимационных фильмов, НАСА&nbsp;— в&nbsp;научных вычислениях, а&nbsp;Google&nbsp;—
                в&nbsp;элементах поисковой системы.</p>
            <p>Также среди активных пользователей Python&nbsp;—
                YouTube, Reddit, Netflix, Spotify, Pinterest, Dropbox, VK, «Яндекс», «Сбер», «Тинькофф»,
                «Альфа-Банк», ВТБ, «Лаборатория Касперского», МТС, «Ростелеком», «Билайн», «МегаФон»,
                KazanExpress и&nbsp;многие другие.</p>

            <h3><strong>Преимущества Python</strong></h3>
            <p> <strong>Низкий порог
            входа. </strong>Для освоения профессии Python-разработчика не&nbsp;нужны глубокие
            знания, поэтому его часто выбирают в&nbsp;качестве первого языка.</p>
            <p><strong>Простой и&nbsp;понятный
                синтаксис.</strong> Python устроен таким образом, что похож на&nbsp;естественный язык.
                Код на&nbsp;нём легко как писать, так и&nbsp;читать.</p>
            <p><strong>Большое и&nbsp;активное
                комьюнити. </strong>У&nbsp;Python второе по&nbsp;размерам сообщество на&nbsp;<a
                    href="https://stackoverflow.com/" target="_blank" class="stk-reset">Stack
                Overflow</a>, которое еженедельно отвечает на&nbsp;тысячи вопросов. Если у&nbsp;вас
                возникнет проблема&nbsp;— скорее всего, в&nbsp;интернете уже описано несколько способов
                её&nbsp;решения.</p>
            <p><strong>Универсальность
                и&nbsp;развитая экосистема. </strong>Так как Python используется во&nbsp;множестве
                разных сфер, для него есть десятки тысяч подключаемых библиотек и&nbsp;фреймворки под
                разные задачи.</p>
            <p><strong>Востребованность. </strong>Знание Python&nbsp;— самое частое
                требование, которое предъявляют к&nbsp;соискателям на&nbsp;«<a
                        href="https://career.habr.com/" target="_blank"
                        class="stk-reset">Хабр.Карьере</a>». Оно встречается в&nbsp;9,5% вакансий.</p>
            <h3><strong>Недостатки Python</strong></h3>
            <p><strong class="stk-reset">Низкая
                скорость. </strong>Динамическая типизация даёт языку гибкость, но&nbsp;за&nbsp;неё
                приходится платить медленной в&nbsp;сравнении с&nbsp;компилируемыми языками работой
                программ. Поэтому иногда в&nbsp;скрипты на&nbsp;Python добавляют фрагменты кода на&nbsp;C/C++.
            </p>
            <p><strong>Высокое потребление
                памяти. </strong>Ещё одно следствие динамической типизации и&nbsp;гибкости: Python плохо
                поддаётся оптимизации. Из-за этого для выполнения более низкоуровневых процессов часто
                подключают другие инструменты.</p>
        </div>
    </div>

</div>



</div>
{% endblock %}